# TITANIC SUBMISSION SET 02
Evaluation metric: Accuracy

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string

from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

## DATA MUNGING

In [2]:
title_mapping = {
    'Mr':['Mr','Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col'],
    'Mrs':['Countess', 'Mme','Mrs'],
    'Miss':['Mlle', 'Ms','Miss'],
    'Master':['Master'],
    'Dr':['Dr']
}

def MatchTitles(title):
    for i in title_mapping:
        if title in title_mapping[i]:
            return i

def MatchSubstrings(main_string, substrings):
    for substring in substrings:
        if main_string.find(substring) != -1:
            return substring
    return np.nan

def Munge(data):
    df = data.copy()
    
    # lower case the column names
    df.columns = df.columns.str.lower()
    
    # extract titles
    titles = ['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
              'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
              'Don', 'Jonkheer']
    df['title'] = df.name.map(lambda x: MatchSubstrings(x, titles))
    
    # group titles
    df['grouped_title'] = df.title.map(MatchTitles)
    
    # add family size
    df['family_size'] = df.parch + df.sibsp
    
    # missing values for fares (only 1 from testset)
    df.ix[df.fare.isnull(), 'fare'] = 0
    
    # impute missing ages with the mean based on title
    df['impute_age'] = df.age
    df.ix[(df.age.isnull()) & (df.title=='Mr'), 'impute_age'] = np.average(df[df.title=='Mr'].age.dropna())
    df.ix[(df.age.isnull()) & (df.title=='Mrs'), 'impute_age'] = np.average(df[df.title=='Mrs'].age.dropna())
    df.ix[(df.age.isnull()) & (df.title=='Miss'), 'impute_age'] = np.average(df[df.title=='Miss'].age.dropna())
    df.ix[(df.age.isnull()) & (df.title=='Master'), 'impute_age'] = np.average(df[df.title=='Master'].age.dropna())
    df.ix[(df.age.isnull()) & (df.title=='Dr'), 'impute_age'] = np.average(df[df.title=='Dr'].age.dropna())
    
    # binning age groups into categories
    bins = [0,10,30,60,200]
    names = ['child','adult','senior','aged']
    df['grouped_age'] = pd.cut(df.impute_age, bins, labels=names)
    
    # create dummies for sex variable
    df = df.join(pd.get_dummies(df.sex, prefix='sex'))
    df = df.join(pd.get_dummies(df.pclass, prefix='pclass'))
    df = df.join(pd.get_dummies(df.embarked, prefix='embarked'))
    df = df.join(pd.get_dummies(df.grouped_title, prefix='title'))
    df = df.join(pd.get_dummies(df.grouped_age, prefix='age'))
    
    # lower case the column names again before returning
    df.columns = df.columns.str.lower()
    
    return df

In [3]:
# load data
df_train = pd.read_csv('../data/train.csv', index_col=0)
df_test = pd.read_csv('../data/test.csv', index_col=0)

# munge data
df_train = Munge(df_train)
df_test = Munge(df_test)

## EDA
- Females were more likely to survive
- People from class 1 were more likely to survive

In [4]:
pd.crosstab(df_train.sex, df_train.survived, dropna=False, normalize='index')

survived         0         1
sex
female    0.257962  0.742038
male      0.811092  0.188908

In [5]:
pd.crosstab(df_train.pclass, df_train.survived, dropna=False, normalize='index')

survived         0         1
pclass
1         0.370370  0.629630
2         0.527174  0.472826
3         0.757637  0.242363

In [6]:
pd.crosstab(df_train.embarked, df_train.survived, dropna=False, normalize='index')

survived         0         1
embarked
C         0.446429  0.553571
Q         0.610390  0.389610
S         0.663043  0.336957

## MODELS

In [7]:
df_train

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,...,embarked_s,title_dr,title_master,title_miss,title_mr,title_mrs,age_child,age_adult,age_senior,age_aged
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# train test split
train, val = train_test_split(df_train, test_size=0.3, random_state=0)

In [9]:
# features to exclude
excluded_features = ['survived','cabin','sex','ticket','name','embarked','pclass','sibsp','parch','title',
                     'grouped_title','age','impute_age','grouped_age']

features = df_train.ix[:,~df_train.columns.isin(excluded_features)].columns
features

Index(['fare', 'family_size', 'sex_female', 'sex_male', 'pclass_1', 'pclass_2',
       'pclass_3', 'embarked_c', 'embarked_q', 'embarked_s', 'title_dr',
       'title_master', 'title_miss', 'title_mr', 'title_mrs', 'age_child',
       'age_adult', 'age_senior', 'age_aged'],
      dtype='object')

### Training set

In [10]:
train_x = train.ix[:,features]
train_y = train.survived

In [11]:
# logistic regression
lr = LogisticRegression()
lr.fit(train_x, train_y)
lr_pred_train = lr.predict(train_x)
print('lr train accuracy: {result}'.format(result=accuracy_score(train_y, lr_pred_train)))

# random forest
rf = RandomForestClassifier(criterion='entropy', n_estimators=500, random_state=0, n_jobs=3)
rf.fit(train_x, train_y)
rf_pred_train = rf.predict(train_x)
print('rf train accuracy: {result}'.format(result=accuracy_score(train_y, rf_pred_train)))

lr train accuracy: 0.8346709470304976
rf train accuracy: 0.9502407704654896

### Validation set

In [12]:
val_x = val.ix[:,features]
val_y = val.survived

In [13]:
# logistic regression
lr_pred_val = lr.predict(val_x)
print('lr validation accuracy: {result}'.format(result=accuracy_score(val_y, lr_pred_val)))

# random forest
rf_pred_val = rf.predict(val_x)
print('rf validation accuracy: {result}'.format(result=accuracy_score(val_y, rf_pred_val)))

lr validation accuracy: 0.8246268656716418
rf validation accuracy: 0.8208955223880597

### Initial submission

In [14]:
def SubmitCSV(data, filename):
    data = pd.Series(submission, index=df_test.index, name='Survived')
    pd.DataFrame(data).to_csv(filename)

In [15]:
submission = rf.predict(df_test.ix[:,features])
SubmitCSV(submission, '../submissions/submit03_randomforest.csv')

submission = lr.predict(df_test.ix[:,features])
SubmitCSV(submission, '../submissions/submit04_logisticreg.csv')